body {
  font-family: "Arial", sans-serif;
  background: #003049;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

#game-container {
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #d62828;
  color: white;
  border: none;
  transition: 0.3s;
}

button:hover {
  background-color: #921a1a;
}

.button-secondary {
  background-color: #669bbc;
  color: black;
}

.button-secondary:hover {
  background-color: #466a81;
}

.card {
  background: #eae2b7;
  color: black;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px #f7800096;
  text-align: center;
  max-width: 400px;
  margin: 20px auto;
}

.sticker-card {
  background-color: #fcbf49;
  box-shadow: none;
  border-radius: 0;
}

input {
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #d6282893;
  box-shadow: 0 0 8px #c1121ec8;
}

.hidden {
  display: none;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px;
}

.building {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.floor {
  display: flex;
  align-items: center;
  gap: 10px;
}

.door {
  background: #fcbf49;
  border: 2px solid #f77f00;
  color: black;
  padding: 20px;
  cursor: pointer;
  border-radius: 5px;
  min-width: 80px;
  text-align: center;
}

.door:hover {
  background-color: #f77f00;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  padding: 20px;
  box-shadow: 0 0 15px #c2650196;
  border-radius: 10px;
  z-index: 1000;
}
