body {
  font-family: "Arial", sans-serif;
  background: #003049;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

#game-container {
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #d62828;
  color: white;
  border: none;
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #921a1a;
}

.button-secondary {
  background-color: #669bbc;
  color: black;
}

.button-secondary:hover {
  background-color: #466a81;
}

.card {
  background: #eae2b7;
  color: black;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(247, 128, 0, 0.5);
  text-align: left;
  max-width: 400px;
  margin: 0;
  margin-bottom: 10px;
}

.sticker-card {
  background-color: #fcbf49;
  box-shadow: none;
  border-radius: 0;
}

input {
  width: 200px;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid transparent;
  height: auto;
}

input:focus {
  border-color: #d62828;
  box-shadow: 0 0 12px rgba(193, 18, 30, 0.8);
}

.hidden {
  display: none;
}

h2 {
  margin-bottom: 10px;
}

.story-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.page-image {
  width: 400px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#hidden-card {
  margin: 10px auto;
  max-width: 70%;
  text-align: center;
}

#hint1,
#hint2,
#hint3 {
  min-height: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

.cards-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.input-group input {
  margin-bottom: 0;
}

.building {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.floor {
  display: flex;
  align-items: center;
  gap: 10px;
}

.door {
  background: #fcbf49;
  border: 2px solid #f77f00;
  color: black;
  padding: 20px;
  cursor: pointer;
  border-radius: 5px;
  min-width: 80px;
  text-align: center;
  transition: background 0.3s ease;
}

.door:hover {
  background-color: #f77f00;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.97);
  color: black;
  padding: 20px;
  box-shadow: 0 0 20px rgba(194, 101, 1, 0.7);
  border-radius: 10px;
  z-index: 1000;
}

@media (max-width: 750px) {
  .story-container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .page-image,
  .card {
    max-width: 90%;
  }

  .story-container {
    align-items: center;
  }
}
